.inline-block{
    display:inline-block;
    vertical-align: top;
}
header{
    background-color: #373738;

}
.logo{
    width:23%;
    padding:1%;
}

.img-logo{
    width:50px;
}

.headerli{
    padding:1%;
    color:white;
}

.content{
    text-align: center;
    background-color:pink;
    padding:1%;
}
.button{
    background-color:lightyellow;
    padding:10px;
}


nav{
    width:72%;
    padding:1%;
}

.ul{
    width: 50%;
    margin-left: auto;
    text-align: right;
}


.heroImg{
    height:600px;
    padding:25px;
}

.content{
    width:500px;
    margin: 0 auto;
}


.photo{
    width:200px;
}


footer{
    background-color: #373738;
}

.footerul{
    padding:1%;

}

.footerli{
    padding:1%;
    color: #FFFFFF;
}